body { 
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu ul{
    display: flex;
    justify-content: center;
    padding: 16px 24px; 
    gap: 100px;
    list-style: none;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.menu a{
    list-style: none;
    color: black;
    font-weight: 600;
    text-decoration: none;  
}

#home {
    background-color: #F5FCFF;
}

#home h2{
    margin: 0;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    color: #111;
}

#home h1{
    margin: 0;
    margin-bottom: 16px;
    font-weight:800;
    font-size: 24px;
    font-weight: 800;
    line-height: 2.5;
    color: #111;
}

#home p{
    margin: 0;
    margin-bottom: 24px;
    max-width: 48ch;
    font-weight: normal;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.1;
    color: #111;
}

