*{ 
    font-family: "roboto", sans-serif;
    text-align: justify;
    padding:10px;
}
/* Menu Principal */
#menu-principal{
   display: flex;
    justify-content: center;
    padding: 16px 24px; 
    gap: 100px;
    list-style: none;
    color: black;
    font-weight: 200;
    text-decoration: none;
}

/*Primeiro Menu */
#flex1{
    background-color: #F5FCFF;
    display: flex; 
    justify-content: space-around;

}

.flex_text{
    margin: 10px;
    
}
.flex_text h1{
    margin:0%
    color: 74pt;
    font-weight: bold;
    font-size: x-large;
    justify-content: left;
}

.flex_text h2{
    font-weight:lighter;
    font-size: smaller;
}

.flex_text p{
    font-weight: 50;
    font-size:small;
}

.flex_button button{
    background-color: #5E3BEE;
    border:none ;
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

.flex1_imagem{
    border: 0px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 10px;
}

/* Experiencia Mafalda */
#experiencia_mafalda{
    background-color:#F5FCFF ;
    display: flex;
    justify-content: space-around;
    
}
/*Estratégia e Direção*/

.experiencia_imagem{
   box-shadow: 10px 10px 5px 1px lightblue; 
}
.experiencia_titulo h3{
    background-color:
}

/*Sobre Mim*/

#sobre_mim{
    display: grid;
    gap: 10px;
}

.sobre_mim_texto h2{
    font-weight:bolder;
    font-size:medium;
}

.sobre_mim_texto p{
    font-weight: 50;
    font-size:small;
}